* {
    font-family: 'Overpass', sans-serif;

}

body {
    background-color: hsl(216, 12%, 8%);
    min-height: calc(100vh - 0.1px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}
.card {
    /* background-color: red; */
    display: flex;
    color: white;
    background: rgb(18,20,23);
    background: linear-gradient(0deg, rgba(18,20,23,1) 0%, rgba(23,27,32,1) 0%, rgba(37,45,55,1) 100%);
    border-radius: 1vw;
    width: 30vw;
    /* height: 30vh; */
    padding: 2vw;
}

.card-content-thanks {

    width: 100%
}

.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icon img{
    width: 1.5vw;
    height: 1.5vw;
    background-color: hsl(213, 19%, 18%);
    /* width: 1vw; */

    border-radius: 5vw;
    padding: 0.5vw;
}

.message {
    color: hsl(217, 12%, 63%);
}

.ratings{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5vw 0vw 0.5vw 0vw;
    margin: 1vw 0vw 1vw 0;
}

.rating-button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(213, 19%, 18%);
    color: hsl(217, 12%, 63%);
    width: 1.5vw;
    height: 1.5vw;
    border-radius: 50%;
    padding: 1vw;
}

.rating-button:hover{
    background-color: hsl(25, 97%, 53%);
    color: white;
}

.rating-button:active{
    background-color: hsl(216, 12%, 54%);
    color: white;
}

.rating-button-selected{
    background-color: hsl(216, 12%, 54%);
    color: white;
}



#submit {
    display: flex;
    background-color: hsl(25, 97%, 53%);
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 3vh;
    border-radius: 5vw;
    margin-top: 3vw;
    margin-bottom: 1vw;
}

#submit:hover {
    background-color: white;
    color: hsl(25, 97%, 53%);
}

.rating-results{
    color:hsl(25, 97%, 53%);
    background-color: hsl(213, 19%, 18%);
    padding: 1.5vw;
    border-radius: 3vw;
    margin: 2vw;
}

@media only screen and (max-width: 600px) {
    .card {
        width: 70vw;
        border-radius: 3vw;
        padding: 4vw;
    }

    .rating-button{
        width: 7vw;
        height: 7vw;
    }

    #submit{
        height: 5vh;
    }
  }